[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
configobj = "*"
paho-mqtt = "==1.5.1"

[dev-packages]
build = "*"
coverage = "*"
coverage-badge = "*"
twine = "*"

[requires]
python_version = "3.9"
